/*-----------------Section 6-nin Baslangici------------------*/
.section-6{
    font-family: Roboto;
    font-style: normal;
    box-sizing: border-box;
    max-width: 1500px;
    height: 780px;
    padding-left: 122px;
    padding-top: 91px;
    margin: auto;
    background: #EFEFEF;
}
.section-6 h2{
    width: 987px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    margin: 0;
    margin-bottom: 34px;
}
.s6-container-div{
    box-sizing: border-box;
    width: 63%;
    max-width: 791px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 451px;background: #FFFFFF;
    padding: 40px 46px 0 45px;
}
.s6-container-div p{
    width: 96%;
    max-width: 700px;
    font-size: 20px;
    line-height: 150%;
    height: 203px;font-weight: 400;
    margin-bottom: 0;
}
.s6-inner-div{
    margin-top: 10px;
    margin-left: -20px;
    display: flex;
}
.s6-inner-div img{
    width: 190px;
    height: 169px;
    margin-right: 30px;
}
.s6-inner-div p{
    width: 353px;
    height: 59px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    line-height: 101.38%;
    font-size: 30px;
}
#fb-colour{
    width: 32px;
    height: 31px;
}
/*-----------------Section 6 Tablet mode------------------*/
@media (max-width: 1279px) and (min-width: 844px){
.section-6{
    width: 100%;
    max-width: 900px;
    min-width: 834px;
    height: 451.75px;
    padding-left: 52.7px;
    padding-top: 72.97px;
    height: 451.75px;
}
.section-6 h2{
    width: 571.64px;
    font-size: 32px;
    height: 53.86px;
    margin-bottom: 19.69px;
}
.s6-container-div{
    width: 63%;
    max-width: 458.12px;
    height: 261.2px;
    padding: 23.17px 0 0 26.06px;
    border-radius: 17.375px;
}
.s6-container-div p{
    width: 96%;
    margin: 0;
    max-width: 405.42px;
    height: 117.57px;
    font-size: 12px;
}
.s6-inner-div{
    align-items: center;
}
.s6-inner-div img{
    width: 110.04px;
    height: 97.88px;
    margin-left: 7px;
}
.s6-inner-div p{
    width: 204.45px;
    height: 34.17px;
    font-size: 17px;
}
#fb-colour{
    width: 18.53px;
    height: 17.95px;
    margin-left: 0;
}
}
/*-----------------Section 6 Tablet mode Bitdi------------------*/

/*-----------------Section 6 Phone mode------------------*/
@media (max-width: 844px){
.section-6{
    width: 100%;
    height: 423px;
    max-width: 834px;
    min-width: 320px;
    padding: 42px 0 0 36px;
}
.section-6 h2{
    font-size: 26px;
    width: 257px;
    height: 69px;
    margin-bottom: 11px;
}
.s6-container-div{
    margin: 0;
    width: 90%;
    max-width: 308px;
    height: 248px;
    border-radius: 13.9792px;
    padding: 18.47px 21px 0 21px;
}
.s6-container-div p{
    font-size: 10px;
    max-width: 266px;
    height: 111.01px;
    margin-bottom: 21.52px;
}
.s6-inner-div img{
    width: 80px;
    height: 74px;
    margin-left: 10px;
    margin-right: 13.63px;
}
.s6-inner-div p{
    width: 164.49px;
    height: 32.73px;
    font-size: 14px;
    margin: 0;
    margin-bottom: -5px;
}
#fb-colour{
    width: 14.91px;
    height: 14.2px;
    margin: 0;
}
.s6-inner-div{
    align-items: center;
}
@media (max-width: 370px){
    .s6-container-div p{
        font-size: 9px;
    }
    .s6-inner-div p{
        font-size: 14px;
    }
}
}
/*-----------------Section 6 Phone mode Bitdi------------------*/
/*-----------------Section 6-nin Sonu------------------*/
